*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 32px;
    text-decoration: none;
}
.nav-links a{
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}


.nav-btn{
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.hero{
    background-image:url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 674px;
    text-align: center;

}

.badge{
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 1000px;
    display: inline-block;
    margin-top: 154px;
}
.badge a{
    text-decoration: none;
    color: #469165;
}
.hero h1{
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;        
}

.hero h1 span{
    color: #469165;
}
.hero p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-width: 720px;
    margin:0 auto 32px;

}
.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.button-primary{
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
    background-color: #469165;
    padding: 12.5px 16px;
    border-radius: 4px;
}
.button-secondary{
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #469165;
    background-color: transparent;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: 2px solid #469165;
}

.section{
    padding: 90px 6%;
}
 
.section h2{
    color: #001931;
    font-size: 50px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin: 0 auto;
}
.sub {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;     
    margin: 12px 0 60px;
}
.cards{
    display: flex;
    gap: 24px;
    margin-top: 50px;
    justify-content: center;
}


.section .cards .card{
    padding: 32px;
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 16px 0;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.card img{
    width: 64px;
    height: 64px;
    background-color: #F95555;
    border-radius: 1000px;
    padding: 16px;
}
.section-solution{
      display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}
.solution h4 {
  color: var(--primary);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.solution ul {
  list-style: none;
  margin-top: 24px;
}

.solution li {
  margin-bottom: 14px;
  padding-left: 26px;
  position: relative;
}

  


.footer{
    background-color: #001931;
    padding: 40px 120px;
    color: #FFFFFF;
    
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.footer-icon{
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.footer-icons a{
    text-decoration: none;
}
.footer hr {
  border: none;
  border-top: 1px solid #FAFAFA;
  margin: 30px 0;
}

/* Bottom text */
.footer-bottom {
  text-align: center;
  font-size: 13px;
  opacity: 0.8;
}